
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,400&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;
  transition: all 1s ease;
  margin: 0;
  padding: 0;
  /*background-color: #01012f;*/

  color: white;
}


.header-tittle{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-tittle>h1{
  border-bottom: white solid 1px;
  width: 50%;
}


.clock-data-container{
  display: flex;
  flex-direction: column;
}

button{
  margin-left: 30px;
  margin-right: 30px;

  background-color: #00002d;
  border: solid azure 2px;
  border-radius: 13px;
  padding: 10px;

  cursor: pointer;
}
button:hover{
  background-color: #00e1ff;
  color: black;
  font-weight: bold;
  border: black solid 4px;

}


